.header {
    margin: 0 auto;
	max-width: 1140px;
	height: 60px;
	position: relative;		

	&__login {
		font-weight: bold;
		font-size: $text-s;
		line-height: $line-height-s;
		text-transform: uppercase;		

		&:hover {
			outline: 1px solid $color-primary;
		}
	}

	&__hamburger {
		top: 12px;
		right: 11px;			
	}	

	&__options {
		top: 18px;
		right: 85px;
		z-index: 1;		
	}

	&__login {
		display: none;
	}	

	&.active {
		height: initial;		
	}		
	
	&__hamburger, &__logo, &__options {
		position: absolute;		
	}		
}

@media( min-width: 768px ) {
	.header {
		height: initial;

		&__logo {
			position: static;
		}				

		&__login {
			display: block;		
		}

		&__options {
			width: 118px;
			right: 10px;			
		}		
	}
}

@include media-breakpoint-up(xl) {
	.header {		
		padding: 0 15px;

		&__options {
			right: 5px;			
		}
	}		
}
